@font-face {
  font-family: coolvetica;
  src: url("../fonts/coolvetica.ttf");
}

@color1: #191515; // black
@color1-1: #404040; // light-black
@color2: #383d3b; // grey
@color3: #a64253; //red
@color4: #f8f4e3; // white
@color5: #4dccbd; // blue
@color6: #d9d9d9; // light-grey
@width-breakpoint: 768px;

button {
  border-radius: 4px;
}

.input_text {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

  background-color: @color2;
  border: none;
  border-radius: 4px;
  color: @color4;

  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  &:focus {
    width: 300px;
    background-color: @color5;
    color: @color2;
  }
}
