<template>
  <div class="home">
    <div class="accueil">
      <main>
        <h1 id="codenames">CODENAMES</h1>
        <div id="credits">
          <a href="https://gitlab.com/toliger/ihm"
            ><img src="../assets/icons/gitlab.svg"
          /></a>
        </div>
        <form>
          <label class="test" id="usr">{{
            $vuetify.t("$vuetify.home.welcome")
          }}</label>
          <input
            class="input_text"
            type="text"
            v-model="$parent.username"
            :placeholder="$vuetify.t('$vuetify.home.username_placeholder')"
          />
          <button id="start" @click.prevent="setusername();" type="submit">
            {{ $vuetify.t("$vuetify.button.start") }}
          </button>
        </form>
      </main>
      <section id="bottom-btns">
        <router-link class="button" :to="{ name: 'Credits' }">{{
          $vuetify.t("$vuetify.button.credits")
        }}</router-link>
        <button @click="close">{{ $vuetify.t("$vuetify.button.quit") }}</button>
      </section>
    </div>
    <canvas id="backGround"></canvas>
  </div>
</template>

<script>
export default {
  name: "Accueil",
  sockets: {
    register(res) {
      window.localStorage.setItem("user", JSON.stringify(res.data));
      if (!res.error) this.$router.push("/menu");
    }
  },
  data() {
    return {
      bgCards: []
    };
  },
  methods: {
    close() {
      close();
    },
    setusername() {
      this.$socket.emit("register", this.$parent.username);
      this.$parent.current_usr = this.$parent.username;
      window.localStorage.setItem(
        "settings",
        JSON.stringify({
          sound: this.$parent.settings.sound,
          language: this.$parent.settings.language,
          volume: this.$parent.settings.volume,
          miscs: this.$parent.settings.miscs
        })
      );
    },
    newColor(w, h) {
      let colorId = Math.floor(Math.random() * 4 + 1);
      let color;
      switch (colorId) {
        case 1: {
          // team 1
          color = [244, 87, 2, 0.2, true];
          break;
        }

        case 2: {
          // team 2
          color = [124, 102, 244, 0.5, false];
          break;
        }

        case 3: {
          // death
          color = [84, 83, 94, 1, false];
          break;
        }

        case 4: {
          // neutre
          color = [234, 219, 121, 0.2, true];
          break;
        }
      }
      color[3] = 0;
      color[4] = true;
      this.bgCards[h][w] = color;
    },
    updateBg() {
      let canvas = document.getElementById("backGround");

      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;

      let ctx = canvas.getContext("2d");
      ctx.clearRect(0, 0, canvas.width, canvas.height);

      let eWidth = canvas.width / this.bgCards.length / 2;
      let eHeight = canvas.height / this.bgCards[0].length / 2;

      for (let h in this.bgCards) {
        for (let w in this.bgCards) {
          ctx.fillStyle = `rgba(${this.bgCards[h][w][0]}, ${
            this.bgCards[h][w][1]
          },
            ${this.bgCards[h][w][2]},
            ${this.bgCards[h][w][3]})`;
          ctx.fillRect(
            w * 2 * eWidth + eWidth / 2,
            h * 2 * eHeight + eHeight / 2,
            eWidth,
            eHeight
          );
        }
      }
    },
    bgEval() {
      for (let h in this.bgCards) {
        for (let w in this.bgCards) {
          let opacity = this.bgCards[h][w][3];
          let up = this.bgCards[h][w][4];
          if (up) {
            if (opacity + 0.05 > 0.9) {
              this.bgCards[h][w][4] = false;
            } else {
              this.bgCards[h][w][3] += 0.05;
            }
          } else {
            if (opacity - 0.05 < 0.1) {
              this.bgCards[h][w][4] = true;
              this.newColor(h, w);
            } else {
              this.bgCards[h][w][3] -= 0.05;
            }
          }
        }
      }
    },
    bgAnimation() {
      this.bgEval();
      this.updateBg();
      setTimeout(this.bgAnimation, 70);
    }
  },
  mounted() {
    this.$parent.initSettings();
    var audio = new Audio(require("../assets/audio/home.mp3"));
    audio.volume = 0.5;
    //audio.play();

    const size = 5;

    for (let i = 0; i < size; i++) {
      this.bgCards.push([]);
      let colorId;
      for (let j = 0; j < size; j++) {
        colorId = Math.floor(Math.random() * 4 + 1);
        let color;
        switch (colorId) {
          case 1: {
            // team 1
            color = [244, 87, 2, 0.2, true];
            break;
          }

          case 2: {
            // team 2
            color = [124, 102, 244, 0.5, false];
            break;
          }

          case 3: {
            // death
            color = [84, 83, 94, 1, false];
            break;
          }

          case 4: {
            // neutre
            color = [234, 219, 121, 0.2, true];
            break;
          }
        }

        this.bgCards[i].push(color);
      }
    }
    this.updateBg();
    this.bgAnimation();
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";

.accueil {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  main {
    flex: 0 1 auto;

    #credits {
      position: fixed;
      height: 16vh;
      width: 35vh;
      top: -3vh;
      right: -12vh;
      transform: rotate(45deg);
      background-color: white;

      img {
        height: 10vh;
        width: 10vh;
        margin-top: 5vh;
      }
    }

    button {
      height: 100%s;
      width: 30%;
    }

    form {
      margin-top: 8%;
    }

    #codenames {
      font-family: "coolvetica";
      font-weight: normal;
      font-size: 350%;
    }

    #usr {
      font-size: 200%;
      display: block;
    }

    .input_text {
      margin-bottom: 5%;
      font-size: 125%;
      text-align: center;
      &:focus {
        width: 50%;
      }
    }
  }

  #bottom-btns {
    display: flex;
    flex-flow: row wrap;
    height: 20vh;
    justify-content: space-between;
    align-items: center;

    button {
      flex: 0 1 auto;
      width: 20%;
    }

    .button {
      font-family: "coolvetica";
      font-weight: normal;
      text-decoration: none;
      margin: 5% auto 5% auto;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
      border: 2px solid #f8f4e3;
      background-color: #191515;
      color: #f8f4e3;
      font-size: 150%;
      border-radius: 3px;

      &:hover {
        color: #191515;
        background-color: #f8f4e3;
        border-color: #f8f4e3;
      }
    }
  }
}

#backGround {
  display: fixed;
  width: 99vw;
  height: 99vh;
  z-index: 1;

  canvas {
    filter: blur(2px);
  }
}
</style>
