<template>
  <div id="credits">
    <h1>Credits</h1>

    <p>Thanks to <span>Anna Becker 🇺🇸 </span>for the deutsch translation.</p>
    <p>Thanks to Nico Gottwalles for some game sounds.</p>

    <router-link :to="{ name: 'Accueil' }">Back</router-link>
  </div>
</template>

<script>
export default {
  name: "Credits",
  data() {
    return {
      test: ""
    };
  },
  methods: {}
};
</script>

<style scoped lang="less">
#credits {
  p {
    font-size: 20px;
  }

  h1 {
    margin-top: 0px;
    padding-top: 30px;
  }

  a {
    text-decoration: none;
    display: block;
    margin: 20px auto 20px auto;
    width: 160px;
    cursor: pointer;
    border: 2px solid #f8f4e3;
    background-color: #191515;
    color: #f8f4e3;
    font-size: 30px;
  }

  a:hover {
    color: #191515;
    background-color: #f8f4e3;
    border-color: #f8f4e3;
  }
}
</style>
