<template>
  <div id="jeu">
    <!--
      <audio id="gameAudio" loop autoplay :volume="$parent.currentVolume">
        <source src="../assets/audio/gameMusic1.mp3" type="audio/mp3" />
      </audio>
    -->
    <h1>
      {{ $vuetify.t("$vuetify.game.welcome") }} {{ $parent.current_usr }},
      {{ $vuetify.t("$vuetify.game.role") }} {{ user.team }} {{ user.role }}
    </h1>
    <p class="erreur">{{ erreur }}</p>
    <h2>{{ $vuetify.t("$vuetify.game.playing") }} : {{ isPlaying }}</h2>
    <main>
      <div class="sidebar">
        <div id="buttons">
          <router-link
            :to="{ name: 'Lobbies' }"
            @click.native="leaveGame"
            tag="button"
            class="icon"
            ><close-icon class="quit_game" />{{
              $vuetify.t("$vuetify.game.quit")
            }}</router-link
          >
        </div>
        <div id="leftTab_Informateur" v-if="user.role == 'agent'">
          <section id="cards-informateur">
            <div class="row">
              <div
                v-if="index < 5"
                v-bind:class="{
                  neutral: !card.team && card.show,
                  blue: card.team == 'blue',
                  red: card.team == 'red',
                  black: card.team == 'black',
                  checked: card.show,
                  checked: card.show
                }"
                v-for="(card, index) in spyCards"
                :key="index"
                class="card"
              ></div>
            </div>
            <div class="row">
              <div
                v-if="index >= 5 && index < 10"
                v-bind:class="{
                  neutral: !card.team,
                  blue: card.team == 'blue',
                  red: card.team == 'red',
                  black: card.team == 'black',
                  checked: card.show
                }"
                v-for="(card, index) in spyCards"
                :key="index"
                class="card"
              ></div>
            </div>
            <div class="row">
              <div
                v-if="index >= 10 && index < 15"
                v-bind:class="{
                  neutral: !card.team,
                  blue: card.team == 'blue',
                  red: card.team == 'red',
                  black: card.team == 'black',
                  checked: card.show
                }"
                v-for="(card, index) in spyCards"
                :key="index"
                class="card"
              ></div>
            </div>
            <div class="row">
              <div
                v-if="index >= 15 && index < 20"
                v-bind:class="{
                  neutral: !card.team,
                  blue: card.team == 'blue',
                  red: card.team == 'red',
                  black: card.team == 'black',
                  checked: card.show
                }"
                v-for="(card, index) in spyCards"
                :key="index"
                class="card"
              ></div>
            </div>
            <div class="row">
              <div
                v-if="index >= 20 && index < 25"
                v-bind:class="{
                  neutral: !card.team,
                  blue: card.team == 'blue',
                  red: card.team == 'red',
                  black: card.team == 'black',
                  checked: card.show
                }"
                v-for="(card, index) in spyCards"
                :key="index"
                class="card"
              ></div>
            </div>
          </section>
          <section id="motSugg">
            <h3>{{ $vuetify.t("$vuetify.game.clue") }} : {{ currentWord }}</h3>
            <input
              v-bind:class="{ wrong: currentWordWrong }"
              v-model="currentWord"
            />
          </section>
          <section id="nbAss">
            <h3>{{ $vuetify.t("$vuetify.game.associations") }} :</h3>
            <div>
              <span v-if="cardsCount > 1" v-on:click="cardsCount--;">-</span>
              {{ cardsCount }}
              <span v-if="cardsCount < 8" v-on:click="cardsCount++;">+</span>
            </div>
            <button @click="sendClue">
              {{ $vuetify.t("$vuetify.game.send_clue") }}
            </button>
          </section>
        </div>
        <div id="leftTab_Espion" v-if="user.role == 'spy'">
          <section id="Indice">
            <label>{{ $vuetify.t("$vuetify.game.clue_from") }} :</label>
            <p>" {{ currentWord }} "</p>
          </section>
          <section id="nbAss">
            <label>{{ $vuetify.t("$vuetify.game.associations") }} :</label>
            <p>{{ cardsCount }}</p>
          </section>
        </div>
      </div>
      <div id="cards">
        <div class="row">
          <div
            @click="checkCard(index);"
            v-if="index < 5"
            v-bind:class="{
              neutral: !card.team && card.show,
              blue: card.team == 'blue',
              red: card.team == 'red',
              black: card.team == 'black',
              checked: card.show,
              checked: card.show
            }"
            v-for="(card, index) in cards"
            :key="index"
            class="card"
            v-on:mouseover="cardHover"
          >
            {{ card.name }}
          </div>
        </div>
        <div class="row">
          <div
            @click="checkCard(index);"
            v-if="index >= 5 && index < 10"
            v-bind:class="{
              neutral: !card.team && card.show,
              blue: card.team == 'blue',
              red: card.team == 'red',
              black: card.team == 'black',
              checked: card.show
            }"
            v-for="(card, index) in cards"
            :key="index"
            class="card"
            v-on:mouseover="cardHover"
          >
            {{ card.name }}
          </div>
        </div>
        <div class="row">
          <div
            @click="checkCard(index);"
            v-if="index >= 10 && index < 15"
            v-bind:class="{
              neutral: !card.team && card.show,
              blue: card.team == 'blue',
              red: card.team == 'red',
              black: card.team == 'black',
              checked: card.show
            }"
            v-for="(card, index) in cards"
            :key="index"
            class="card"
            v-on:mouseover="cardHover"
          >
            {{ card.name }}
          </div>
        </div>
        <div class="row">
          <div
            @click="checkCard(index);"
            v-if="index >= 15 && index < 20"
            v-bind:class="{
              neutral: !card.team && card.show,
              blue: card.team == 'blue',
              red: card.team == 'red',
              black: card.team == 'black',
              checked: card.show
            }"
            v-for="(card, index) in cards"
            :key="index"
            class="card"
            v-on:mouseover="cardHover"
          >
            {{ card.name }}
          </div>
        </div>
        <div class="row">
          <div
            @click="checkCard(index);"
            v-if="index >= 20 && index < 25"
            v-bind:class="{
              neutral: !card.team && card.show,
              blue: card.team == 'blue',
              red: card.team == 'red',
              black: card.team == 'black',
              checked: card.show
            }"
            v-for="(card, index) in cards"
            :key="index"
            class="card"
            v-on:mouseover="cardHover"
          >
            {{ card.name }}
          </div>
        </div>
      </div>
    </main>
    <footer id="menu">
      <div class="team">
        <h2>{{ $vuetify.t("$vuetify.game.team_blue") }}</h2>
        <div class="players">
          <div v-for="(player, id) in gamePlayers" :key="id">
            <div v-if="player.team == 'blue'" class="teamBlue">
              {{ player.name }}
            </div>
          </div>
        </div>
      </div>

      <div id="mid">
        <div class="score">
          <p class="blueScore">{{ scoreBlue }}</p>
        </div>

        <div id="tps">
          {{ $vuetify.t("$vuetify.game.time_left") }}
          <div id="tps_div">
            <p>{{ roundTimer }}</p>
          </div>
        </div>

        <div class="score">
          <p class="redScore">{{ scoreRed }}</p>
        </div>
      </div>

      <div class="team">
        <h2>{{ $vuetify.t("$vuetify.game.team_red") }}</h2>
        <div class="players">
          <div v-for="(player, id) in gamePlayers" :key="id">
            <div v-if="player.team == 'red'" class="teamRed">
              {{ player.name }}
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Game",
  data() {
    return {
      cards: [],
      spyCards: [],
      cardsCount: 1,
      scoreBlue: 0,
      scoreRed: 0,
      user: {},
      gamePlayers: [],
      currentWord: "",
      currentWordWrong: false,
      erreur: "",
      disabled: 0,
      isPlaying: "",
      roundTimer: 0,
      lastIdx: null
    };
  },
  sockets: {
    game(gameData) {
      if (gameData.data.ended) {
        let u = this.user;
        u.score = u.game;
        delete u.game;
        delete u.role;
        window.localStorage.setItem("user", JSON.stringify(u));

        setTimeout(() => {
          this.$router.push(`/score/${this.$route.params.id}`);
        }, 2000);
      }
      this.cards = gameData.data.words;
      this.currentWord = gameData.data.wordToGuess;
      this.cardsCount = gameData.data.numberToGuess;
      this.gamePlayers = gameData.data.players;
      this.isPlaying = gameData.data.isPlaying;
      this.scoreBlue = gameData.data.score.blue;
      this.scoreRed = gameData.data.score.red;
      if (this.spyCards[this.lastIdx].team === null) {
        //this.playSound("@/assets/audio/neutre.mp3");
      }
    },
    checkCard(status) {},
    gridGet(grid) {
      this.spyCards = grid.data.words;
    },
    player(player) {
      let user = JSON.parse(window.localStorage.getItem("user"));
      this.user = user;
      user.role = player.data.role;
      user.team = player.data.team;
      this.user.role = player.data.role;
      delete user.lobby;
      user.game = this.$route.params.id;
      window.localStorage.setItem("user", JSON.stringify(user));
      this.$socket.emit("gridGet", this.$route.params.id);
      this.$socket.emit("game", this.$route.params.id);
    },
    gameGuess(game) {
      if (game.error) {
        this.erreur = game.error;
      } else {
        let user = JSON.parse(window.localStorage.getItem("user"));
        user.disabled = true;
        window.localStorage.setItem("user", JSON.stringify(user));

        this.disabled = true;
        this.currentWord = game.data.word;
        this.cardsCount = game.data.number;
      }
    }
  },
  methods: {
    checkCard(index) {
      this.$socket.emit(
        "checkCard",
        this.$route.params.id,
        JSON.parse(window.localStorage.getItem("user")).uuid,
        index
      );
      this.lastIdx === null ? index : this.lastIdx;
      window.localStorage.setItem("idx", index);
    },
    sendClue() {
      this.currentWordWrong = false;

      if (this.currentWord == "" || this.currentWord.split(" ").length > 1) {
        this.currentWordWrong = true;
        this.erreur = "Veuillez rentrer un mot valide.";
        return;
      }
      this.erreur = "";
      this.$socket.emit(
        "gameGuess",
        this.$route.params.id,
        this.user.uuid,
        this.currentWord,
        this.cardsCount
      );
      this.currentWord = "";
    },
    leaveGame() {
      const user = JSON.parse(window.localStorage.getItem("user"));
      this.$socket.emit("gameLeave", user.game, user.uuid);
      delete user.game;
      window.localStorage.setItem("user", JSON.stringify(user));
    },
    show(modal) {
      this.$modal.show(modal);
    },
    hide(modal) {
      this.$modal.hide(modal);
    },
    cardHover() {
      var audio = new Audio(require("@/assets/audio/cardHover.mp3"));
      audio.volume = this.$parent.settings.sound
        ? this.$parent.settings.volume
        : 0;
      audio.play();
    },
    checkTimers() {
      if (this.roundTimer > 0) {
        let timer = window.localStorage.getItem("timer");
        if (timer == null || timer < 0)
          window.localStorage.setItem("timer", 30);
        else {
          this.roundTimer--;
          timer--;
          window.localStorage.setItem("timer", timer);
        }
        setTimeout(this.checkTimers, 1000);
      } else {
        const user = JSON.parse(window.localStorage.getItem("user"));
        this.$socket.emit("round", this.$route.params.id, user.uuid);
      }
    },
    playSound(path) {
      var audio = new Audio(require("@/assets/audio/neutre.mp3"));
      audio.volume = this.$parent.settings.sound
        ? this.$parent.settings.volume / 100
        : 0;
      audio.play();
    }
  },
  computed: {
    currentVolume() {
      let vol = this.$parent.settings.sound
        ? this.$parent.settings.volume / 100
        : 0;
      return vol;
    }
  },
  mounted() {
    this.$parent.initSettings();
    const timer = window.localStorage.getItem("timer");
    this.roundTimer = timer;
    this.lastIdx = window.localStorage.getItem("idx");
    const user = JSON.parse(window.localStorage.getItem("user"));
    // si il reload il peut pas remettre de mot
    if (user.disabled) this.disabled = true;

    this.$socket.emit("player", user.uuid);
    /*
    var audio = new Audio(require("@/assets/audio/gameMusic1.mp3"));
    audio.volume = this.$parent.settings.sound
      ? this.$parent.settings.volume
      : 0;
    audio.play();
*/
    this.checkTimers();
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";
#jeu {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    margin: 0;
    padding-top: 1vh;
  }
  h2 {
    margin-top: 0;
  }
  .erreur {
    color: #b12121;
    padding: 0;
    margin: 0;
  }
  #codenames {
    font-family: "coolvetica";
    font-weight: normal;
  }
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .quit_game {
      margin-right: 10px;
    }

    .sidebar {
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: column nowrap;

      @media (max-width: @width-breakpoint) {
        flex-flow: column nowrap;
      }
    }

    #buttons {
      flex: 0 1 auto;
      display: flex;
      flex-flow: row wrap;
      @media (max-width: @width-breakpoint) {
        justify-content: stretch;
        margin: 0 2%;
      }
    }
    #cards {
      flex: 2 1 auto;
      display: flex;
      flex-flow: column nowrap;
      .row {
        flex: 1 1 auto;
      }
      .card {
        flex: 1 1 150px;
        min-width: 70px;
        max-width: 150px;
        border: 2px solid @color4;

        @media (max-width: @width-breakpoint) {
          line-height: 75px;
        }
      }
    }
    #cards,
    #cards-informateur {
      .blue {
        background-color: blue;
      }

      .red {
        background-color: red;
      }

      .black {
        background-color: black;
        color: white;
      }

      .neutral {
        background-color: slategray;
      }

      .checked {
        border: 2px solid yellow;
      }
    }

    #leftTab_Espion,
    #leftTab_Informateur {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .wrong {
        background-color: red;
      }

      section {
        flex: 0 1 auto;
      }
      @media (max-width: @width-breakpoint) {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        section {
          width: 30%;
          height: 100%;
          flex: 1 0 auto;
        }
      }
    }
    #leftTab_Informateur {
      #cards-informateur {
        .card {
          width: 30px;
          height: 15px;
          margin: 3px;
        }

        @media (max-width: @width-breakpoint) {
          height: auto;
        }
      }

      #nbAss {
        .wrong {
          background-color: red;
        }

        div {
          font-size: 6vh;
        }

        span {
          font-size: 6vh;
          cursor: pointer;
          user-select: none;
        }
        @media (max-width: @width-breakpoint) {
          div,
          span  {
            font-size: 3vh;
          }
        }
      }
    }
  }

  #menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    color: @color1;
    background-color: @color6;
    width: 90%;
    border-radius: 20px 20px 0 0;
    margin: 2% auto 0 auto;

    #mid {
      display: flex;
      flex-direction: row;
      padding: 1vh 0;

      #tps {
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1vw;

        #tps_div {
          display: flex;
          flex: 2;
          flex-direction: column;
          justify-content: center;
          border-radius: 30vw;
          color: @color4;
          background-color: @color2;
          font-size: 1.5em;
        }
      }

      .score {
        flex: 1;
        font-size: 2em;
        width: 10vw;
        border-radius: 5%;
        background-color: @color2;

        .blueScore {
          color: @color5;
        }
        .redScore {
          color: @color3;
        }
      }
    }

    .team {
      display: flex;
      flex-direction: column;

      h2 {
        display: flex;
      }

      .players {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;

        div {
          display: flex;
        }

        .teamBlue {
          background-color: @color5;
          color: @color2;
          border-radius: 10%;
          padding: 5px 10px 5px 10px;
          margin-bottom: 5px;
        }
        .teamRed {
          background-color: @color3;
          color: @color4;
          border-radius: 10%;
          padding: 5px 10px 5px 10px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .row {
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
  }

  .card {
    color: @color1;
    border-radius: 10px;
    margin: 15px;
    line-height: 90px;
    background-color: @color4;
    transition: 0.2s;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.3);
    background-color: @color6;
  }
}
</style>
