<template>
  <!-- eslint-disable max-len -->
  <section class="lobby">
    <h1>{{ $vuetify.t("$vuetify.lobbies.title") }}</h1>
    <section class="column">
      <div id="upper-column" class="column-item row">
        <section id="pseudo" class="row-item">
          <h4>{{ $vuetify.t("$vuetify.lobbies.agent") }}</h4>
          <p>{{ $parent.current_usr }}</p>
        </section>
        <section id="lobbiesList" class="row-item">
          <table>
            <tr>
              <th>{{ $vuetify.t("$vuetify.lobbies.table.name") }}</th>
              <th>{{ $vuetify.t("$vuetify.lobbies.table.id") }}</th>
              <th>{{ $vuetify.t("$vuetify.lobbies.table.slot") }}</th>
              <th>{{ $vuetify.t("$vuetify.lobbies.table.lock") }}</th>
              <th>{{ $vuetify.t("$vuetify.lobbies.table.lang") }}</th>
            </tr>
            <tr
              class="lobby"
              v-for="lobby in lobbies"
              :key="lobby.id"
              @click="checkPassword(lobby);"
            >
              <td>{{ lobby.name }}</td>
              <td>{{ lobby.id }}</td>
              <td>{{ lobby.players.length }} / 4</td>
              <td><span v-if="lobby.lock">🔒</span></td>
              <td>{{ lobby.lang }}</td>
            </tr>
          </table>
        </section>
      </div>
      <div id="lower-column" class="column-item row">
        <section class="row-item btn-group">
          <button @click="show('createLobby');">
            {{ $vuetify.t("$vuetify.button.create") }}
          </button>
          <router-link tag="button" :to="{ name: 'Menu' }">{{
            $vuetify.t("$vuetify.button.back")
          }}</router-link>
        </section>
      </div>
    </section>
    <modal name="inputPwd" id="modal-pwd">
      <h2>Room locked</h2>
      <form>
        <label for="joinPwd">Password : </label>
        <input type="password" v-model="joinPwd" />
        <p v-for="(msg, key) in passwordMsg" :key="key">{{ msg }}</p>
        <button @click.prevent="validatePassword">Join</button>
        <button @click.prevent="hide('inputPwd');">Cancel</button>
      </form>
    </modal>
    <modal name="createLobby" id="modal-lobby" :height="420">
      <main>
        <h2>{{ $vuetify.t("$vuetify.lobbies.create_form.title") }}</h2>
        <form>
          <table>
            <tr>
              <td>
                <label for="lb-name"
                  >{{ $vuetify.t("$vuetify.lobbies.create_form.name") }} :
                </label>
              </td>
              <td>
                <input
                  v-model="new_lb_name"
                  type="text"
                  name="lb-name"
                  id="lb-name"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="lb-pwd"
                  >{{ $vuetify.t("$vuetify.lobbies.create_form.password") }}:
                </label>
              </td>
              <td>
                <input
                  v-model="new_lb_pwd"
                  type="password"
                  name="lb-pwd"
                  id="lb-pwd"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="lb-lang"
                  >{{ $vuetify.t("$vuetify.lobbies.create_form.language") }} :
                </label>
              </td>
              <td>
                <select v-model="new_lb_lang" name="lb-lang" id="lb-lang">
                  <option value="🇬🇧">🇬🇧 English</option>
                  <option value="🇫🇷">🇫🇷 Français</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label for="lb-diff"
                  >{{
                    $vuetify.t("$vuetify.lobbies.create_form.difficulty.title")
                  }}
                  :
                </label>
              </td>
              <td>
                <select v-model="new_lb_diff" name="lb-diff" id="lb-diff">
                  <option value="1">{{
                    $vuetify.t("$vuetify.lobbies.create_form.difficulty.easy")
                  }}</option>
                  <option value="2">{{
                    $vuetify.t("$vuetify.lobbies.create_form.difficulty.medium")
                  }}</option>
                  <option value="3">{{
                    $vuetify.t("$vuetify.lobbies.create_form.difficulty.hard")
                  }}</option>
                  <option value="4">{{
                    $vuetify.t(
                      "$vuetify.lobbies.create_form.difficulty.extreme"
                    )
                  }}</option>
                </select>
              </td>
            </tr>
          </table>

          <button @click.prevent="addLobby();">Create</button>
          <button @click.prevent="hide('createLobby');">Cancel</button>
        </form>
      </main>
    </modal>
  </section>
</template>

<script lang="js">
export default {
  name: 'lobby',
  props: [],
  mounted() {
    this.getLobbies();
  },
  data() {
    return {
      lobbies: [],
      new_lb_name: '',
      new_lb_pwd: '',
      new_lb_lang: '🇫🇷',
      new_lb_diff: '1',
      selectedLobby: null,
      passwordMsg: [],
      joinPwd: '',
    };
  },
  sockets: {
    lobbies(lobs) {
      this.lobbies = lobs.data;
    },
  },
  methods: {
    show(modal='createLobby') {
      this.$modal.show(modal);
    },
    hide(modal='createLobby') {
      this.$modal.hide(modal);
    },
    getLobbies() {
      this.$socket.emit('lobbies');
    },
    addLobby() {
      this.$socket.emit('lobbyCreate', this.new_lb_name, this.new_lb_pwd, this.new_lb_diff, this.new_lb_lang);
      this.hide('createLobby');
    },
    checkPassword(lobby) {
      if (lobby.lock) {
        this.passwordMsg = [];
        this.show('inputPwd');
        this.selectedLobby = lobby;
      } else {
        this.$router.push(`/lobby/${lobby.uuid}`);
      }
    },
    validatePassword() {
      this.passwordMsg = [];
      if(this.selectedLobby.pwd === this.joinPwd) {
        this.$router.push(`/lobby/${this.selectedLobby.uuid}`);
      } else {
        this.passwordMsg.push('Wrong password !');
      }
    }
  },
  mounted() {
    this.$parent.initSettings();
    this.getLobbies();
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";

.lobby {
  #pseudo,
  .btn-group {
    flex: 0 1 20%;
  }
  h1 {
    margin-top: 0;
    padding-top: 5%;
  }
  #lower-column {
    justify-content: space-between;
    .row-item {
      flex-grow: 0;
    }
  }

  #lobbiesList {
    flex: 1 1 auto;
    max-height: 50vh;
    overflow: scroll;
    table {
      border-spacing: 0;
      width: 100%;
      tr {
        line-height: 1.5em;
      }
      .lobby:hover {
        cursor: pointer;
        background-color: @color1-1;
      }
    }
  }
  .row {
    display: flex;
    flex-flow: row wrap;
  }
  .row-item {
    border: 1px solid @color2;
    margin: 20px;
  }
  .btn-group {
    border: none;
  }

  .column {
    display: flex;
    flex-flow: column wrap;
  }

  #modal-lobby,
  #modal-pwd {
    color: @color2;
    #close-btn {
      display: block;
      position: absolute;
      right: 5px;
      top: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    h2 {
      text-align: center;
    }

    form {
      text-align: center;
      table {
        width: 100%;
        td {
          padding: 5px;
          width: 50%;
          &:nth-child(even) {
            text-align: left;
          }
          &:nth-child(odd) {
            text-align: right;
          }
        }
      }
      button {
        height: 50px;
        font-size: 24px;
      }
    }
  }
}
</style>
