<template>
  <div id="lobby">
    <div id="header">
      <h1>Lobby: {{ lobby.name }} {{ lobby.lang }}</h1>
      <p v-if="lobby.lock">🔒</p>
      <div class="leave-btn">
        <router-link
          :to="{ name: 'Lobbies' }"
          @click.native="leaveLobby"
          tag="button"
        >
          {{ $vuetify.t("$vuetify.lobby.quit") }}</router-link
        >
      </div>
    </div>
    <div id="main">
      <div v-on:click="setteam('blue');" class="equipe" id="equipe1">
        <h2 class="blueTeam">{{ $vuetify.t("$vuetify.lobby.team_blue") }}</h2>
        <ul>
          <li
            v-if="user.team == 'blue'"
            v-for="(user, key) in lobby.players"
            :key="key"
          >
            <h2 class="username">
              {{ user.name }} <span v-if="user.ready"> ✅ </span>
            </h2>
            <button v-on:click="kick(key);">Kick</button>
          </li>
        </ul>
      </div>
      <div id="gameInfo">
        <button
          v-if="counter < 0 && currentTeam != ''"
          v-on:click="toggleTeam();"
          :disabled="currentTeam == ''"
        >
          <span v-if="ready"> {{ $vuetify.t("$vuetify.lobby.not_rdy") }}</span
          ><span v-else>{{ $vuetify.t("$vuetify.lobby.rdy") }}</span>
        </button>
        <p v-if="counter > -1">{{ counter }}</p>
        <p v-if="currentTeam == ''">
          {{ $vuetify.t("$vuetify.lobby.no_team") }}
        </p>
      </div>
      <div v-on:click="setteam('red');" class="equipe" id="equipe2">
        <h2 class="redTeam">{{ $vuetify.t("$vuetify.lobby.team_red") }}</h2>
        <ul>
          <li
            v-if="user.team == 'red'"
            v-for="(user, key) in lobby.players"
            :key="key"
          >
            <h2 class="username">
              {{ user.name }} <span v-if="user.ready"> ✅ </span>
            </h2>
            <button v-on:click="kick(key);">kick</button>
          </li>
        </ul>
      </div>
    </div>
    <div id="chat">
      <h2>Chat</h2>

      <ul v-chat-scroll>
        <li v-for="(message, key) in messages" :key="key">
          <span
            ><u>{{ message.from }}</u
            >: {{ message.text }}
          </span>
        </li>
      </ul>
      <div>
        <input
          v-model="chatInput"
          v-on:keyup.enter="sendmessage"
          :placeholder="$vuetify.t('$vuetify.lobby.type')"
        />
        <button v-on:click="sendmessage">
          {{ $vuetify.t("$vuetify.lobby.send") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Lobby",
  sockets: {
    lobby(lob) {
      this.lobby = lob.data;
      this.getCurrentTeam();
    },
    lobbyLeave(lob) {
      let lobby = lob.data;
      const user = JSON.parse(window.localStorage.getItem("user"));
      if (!lobby.players_uuid.includes(user.uuid)) {
        delete user.lobby;
        window.localStorage.setItem("user", JSON.stringify(user));
        this.$router.push("/lobbies");
      }
    },
    message(m) {
      if (m.data.from == "server")
        m.data.text = this.$vuetify.t("$vuetify.server.chat.player_join_lobby");
      this.messages.push(m.data);
    },
    counter(seconds) {
      var audio = new Audio(require("../assets/audio/zé_parti.mp3"));
      var vol = JSON.parse(window.localStorage.getItem("settings"));
      vol = vol.sound ? vol.volume : 0;
      audio.volume = vol / 100;
      audio.play();
      this.counter = seconds;
      this.counterDecrement();
    }
  },
  data() {
    return {
      lobby: {
        name: "lobby",
        lock: false,
        players: []
      },
      messages: [],
      chatInput: "",
      ready: true,
      counter: -1,
      currentTeam: ""
    };
  },
  methods: {
    sendmessage() {
      if (this.chatInput) {
        this.$socket.emit(
          "message",
          this.user.uuid,
          this.$route.params.id,
          this.chatInput
        );
        this.chatInput = "";
      }
    },
    setteam(team) {
      this.$socket.emit(
        "playerTeam",
        JSON.parse(window.localStorage.getItem("user")).uuid,
        this.$route.params.id,
        team
      );
    },
    toggleTeam() {
      this.ready = !this.ready;
      this.$socket.emit(
        "playerReady",
        JSON.parse(window.localStorage.getItem("user")).uuid,
        this.$route.params.id,
        this.ready
      );
    },
    counterDecrement() {
      this.counter--;

      if (this.counter >= 0) {
        setTimeout(() => {
          this.counterDecrement();
        }, 1000);
      } else {
        this.$socket.emit("gameCreate", this.$route.params.id);
        this.$router.push(`/game/${this.$route.params.id}`);
      }
    },
    leaveLobby() {
      let data = JSON.parse(window.localStorage.getItem("user"));
      this.$socket.emit("lobbyLeave", data.uuid, data.lobby);
      delete data.lobby;
      window.localStorage.setItem("user", JSON.stringify(data));
    },
    kick(index) {
      this.$socket.emit(
        "lobbyLeave",
        this.lobby.players[index].uuid,
        this.user.lobby
      );
      const user = JSON.parse(window.localStorage.getItem("user"));
      if (this.lobby.players[index].uuid == user.uuid) {
        delete user.lobby;
        window.localStorage.setItem("user", JSON.stringify(user));
        this.$router.push("/lobbies");
      }
    },
    getCurrentTeam() {
      let user = JSON.parse(window.localStorage.getItem("user"));
      for (let i = 0; i < this.lobby.players.length; i++) {
        if (this.lobby.players[i].name == user.name) {
          this.currentTeam =
            this.lobby.players[i].team == 1 ? "" : this.lobby.players[i].team;
        }
      }
    }
  },
  computed: {
    user() {
      return JSON.parse(window.localStorage.getItem("user"));
    }
  },
  mounted() {
    this.$parent.initSettings();
    const user = JSON.parse(window.localStorage.getItem("user"));
    this.toggleTeam();
    this.$socket.emit("lobbyJoin", user.uuid, this.$route.params.id);
    this.$socket.emit("lobby", this.$route.params.id);
    setInterval(() => {
      this.$socket.emit("lobby", this.$route.params.id);
    }, 1000);
    user.lobby = this.$route.params.id;
    window.localStorage.setItem("user", JSON.stringify(user));
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";

body {
  margin: 0;
}

#lobby {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;

  div {
    display: flex;
  }

  #header {
    background-color: @color1;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    display: flex;

    h1,
    .leave-btn,
    p {
      flex: 1;
    }
  }

  #main {
    background-color: @color1;
    flex: 4;
    flex-direction: row;

    .equipe {
      flex: 2;
      flex-direction: column;
      background-color: @color2;
      border: 4px solid transparent;

      .redTeam {
        background-color: @color3;
      }

      .blueTeam {
        background-color: @color5;
        color: @color1;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          flex-direction: row;
          position: relative;
          border-bottom: 1px solid;

          button {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100px;
            height: auto;
            right: 5px;
            top: 15px;
          }

          .username {
          }
        }
      }

      &:hover {
        border: 4px solid yellow;
        cursor: pointer;
      }
    }

    #equipe1 {
      &:hover {
        border: 4px solid blue;
      }
    }

    #equipe2 {
      &:hover {
        border: 4px solid red;
      }
    }
    #gameInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  #chat {
    background-color: @color1;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw;

    ul {
      flex-direction: column;
      height: 100%;
      max-height: 20vh;
      overflow: scroll;
      list-style: none;
      padding: 0;

      li {
        margin: 0;
        text-align: left;
        padding: 2px;
      }
    }
    div {
      display: flex;
      flex-direction: row;
      height: 10vh;

      input {
        display: flex;
        flex: 9;
      }

      button {
        display: flex;
        flex: 1;
        margin: 0 0 0 2vw;
        font-size: 2em;
        height: auto;
      }
    }
  }
}
</style>
