<template>
  <main>
    <div id="accueil">
      <span
        >{{ $vuetify.t("$vuetify.menu.welcome") }}<br />{{
          $parent.current_usr
        }}</span
      >
    </div>
    <div id="menu">
      <router-link
        v-on:mouseover.native="onMenu"
        v-bind:class="play"
        :to="{ name: 'Lobbies' }"
        tag="button"
      >
        {{ $vuetify.t("$vuetify.menu.play") }}
      </router-link>
      <router-link
        v-on:mouseover.native="onMenu"
        v-bind:class="rules"
        :to="{ name: 'Rules' }"
        tag="button"
      >
        {{ $vuetify.t("$vuetify.button.rules") }}
      </router-link>
      <router-link
        v-on:mouseover.native="onMenu"
        v-bind:class="options"
        :to="{ name: 'Options' }"
        tag="button"
      >
        {{ $vuetify.t("$vuetify.menu.options") }}
      </router-link>
      <router-link
        v-on:mouseover.native="onMenu"
        @click.native="logout"
        :to="{ name: 'Accueil' }"
        tag="button"
      >
        {{ $vuetify.t("$vuetify.menu.logout") }}
      </router-link>
    </div>
  </main>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      index: 0,
      active: true
    };
  },
  computed: {
    pseudo() {
      const ps = JSON.parse(localStorage.getItem("user")).name;
      return ps;
    },
    play() {
      return {
        active: this.index === 0
      };
    },
    rules() {
      return {
        active: this.index === 1
      };
    },
    options() {
      return {
        active: this.index === 2
      };
    },
    settings() {
      return JSON.parse(window.localStorage.getItem("settings"));
    }
  },
  methods: {
    print() {
      this.index = (this.index + 1) % 3;
    },
    logout() {
      window.localStorage.removeItem("user");
    },
    onMenu() {
      var audio = new Audio(require("../assets/audio/menu.mp3"));
      audio.volume = this.$parent.settings.sound
        ? this.$parent.settings.volume
        : 0;
      audio.play();
    }
  },
  mounted() {
    this.$parent.initSettings();
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";

#menu {
  border: 2px solid;
  width: 20%;
  margin: 20px auto;
  background-color: @color5;

  button {
    width: 90%;
  }
}

#accueil {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
  padding: 2%;
  border: 2px solid;
  margin-bottom: 5%;
  font-size: 350%;
}

main {
  padding-top: 3%;
}
</style>
