<template>
  <!-- eslint-disable max-len -->
  <div>
    <div id="title"><span>Options</span></div>
    <main>
      <form>
        <p v-for="(m, key) in messages" :key="key">{{ m }}</p>
        <div>
          <label>{{ $vuetify.t("$vuetify.options.username") }} </label>
          <input
            class="input_text"
            type="text"
            v-model="username"
            v-bind:placeholder="current_usr"
          />
        </div>

        <div>
          <label>{{ $vuetify.t("$vuetify.options.language") }}</label>
          <div class="select">
            <select v-model="$parent.settings.language">
              <option value="en">🇬🇧 English</option>
              <option value="fr">🇫🇷 Français</option>
              <option value="de">🇩🇪 Deutsch</option>
              <option value="pi">🏴‍☠️ Pirate</option>
            </select>
          </div>
        </div>

        <div>
          <label>{{ $vuetify.t("$vuetify.options.sound") }}</label>
          <label class="switch">
            <input
              type="checkbox"
              id="sound"
              v-model="$parent.settings.sound"
            />
            <span class="slider"></span>
          </label>
        </div>

        <div>
          <label>{{ $vuetify.t("$vuetify.options.miscs") }}</label>
          <label class="switch">
            <input
              type="checkbox"
              id="miscs"
              v-model="$parent.settings.miscs"
            />
            <span class="slider"></span>
          </label>
        </div>

        <div>
          <label>{{ $vuetify.t("$vuetify.options.volume") }}</label>
          <div class="slidecontainer">
            <input
              v-model="$parent.settings.volume"
              type="range"
              min="0"
              max="1"
              value="0.5"
              step="0.01"
              class="r_slider"
              id="volume"
            />
          </div>
        </div>
      </form>
      <router-link
        :to="{ name: 'Menu' }"
        tag="button"
        @click.native="setSettings"
        >{{ $vuetify.t("$vuetify.button.save") }}</router-link
      >
      <router-link :to="{ name: 'Menu' }" tag="button">{{
        $vuetify.t("$vuetify.button.back")
      }}</router-link>
    </main>
  </div>
</template>

<script>
export default {
  name: "Options",
  mounted() {
    this.initSettings();
    this.getCurrentUser();
  },
  data() {
    return {
      username: "",
      messages: [],
      current_usr: ""
    };
  },
  methods: {
    setusername() {
      const usr = JSON.parse(localStorage.getItem("user"));
      if (this.username !== "") {
        usr.name = this.username;
        localStorage.setItem("user", JSON.stringify(usr));
        this.messages.push("Username changed");
      }
    },
    setSettings() {
      this.setusername();
      localStorage.setItem("settings", JSON.stringify(this.$parent.settings));
      this.$vuetify.lang.current = this.$parent.settings.language;
    },
    initSettings() {
      const sets = JSON.parse(localStorage.getItem("settings"));
      if (sets === null) {
        this.$parent.settings = {
          sound: true,
          language: "en",
          volume: 50,
          miscs: false
        };
      } else {
        this.$parent.settings = {
          sound: sets.sound,
          language: sets.language,
          volume: sets.volume,
          miscs: sets.miscs
        };
      }
    },
    getCurrentUser() {
      const placeholder = JSON.parse(window.localStorage.getItem("user"));
      this.current_usr = placeholder.name;
    }
  },
  mounted() {
    this.$parent.initSettings();
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";

div {
  display: block;
  padding: 10px;
}

form {
  label {
    display: block;
  }
  div {
    margin: auto;
    width: 50%;
  }
}

.input_text {
  width: 100%;
  &:focus {
    width: 100%;
  }
}

#title {
  font-size: 40px;
  color: @color5;
}

#save {
  display: block;
  font-size: 18px;
  padding: 10px;
  border-color: @color5;
  color: @color5;

  &:hover {
    background-color: @color5;
    color: @color5;
  }
}

.switch {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @color2;
  border-radius: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: @color4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: @color5;
}

input:focus + .slider {
  box-shadow: 0 0 1px @color5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slidecontainer {
  width: 100%;
  margin: 0;
  padding: 3% 0 0 0;

  input {
    width: 40%;
  }
}
</style>
