<template>
  <main>
    <h1>{{ $vuetify.t("$vuetify.button.rules") }}</h1>
    <p>{{ $vuetify.t("$vuetify.rules.introduction") }}</p>
    <p>{{ $vuetify.t("$vuetify.rules.teams") }}</p>
    <p>
      {{ $vuetify.t("$vuetify.rules.cards") }}<br />
      {{ $vuetify.t("$vuetify.rules.words") }}<br />
      {{ $vuetify.t("$vuetify.rules.more") }}
      <a href="https://en.wikipedia.org/wiki/Codenames_(board_game)"
        >Wikipedia</a
      >
    </p>
    <router-link :to="{ name: 'Menu' }" tag="button">{{
      $vuetify.t("$vuetify.button.back")
    }}</router-link>
  </main>
</template>

<script>
export default {
  name: "Rules",
  mounted() {
    this.$parent.initSettings();
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";

main {
  width: 700px;
  margin: 0 auto;

  h1 {
    margin-top: 0px;
    padding-top: 30px;
  }

  p {
    font-size: 20px;
    text-align: left;

    a {
      text-decoration-style: dashed;
      color: #00a6ff;
    }
  }
}
</style>
