<template>
  <main>
    <div class="victory">
      <h1>
        {{ $vuetify.t("$vuetify.score.team") }}
        <span v-bind:class="game.winner">{{ game.winner }}</span
        >{{ $vuetify.t("$vuetify.score.winer") }}
      </h1>
      <h1 v-if="game.leaving">
        {{ game.leaving }} {{ $vuetify.t("$vuetify.score.player_left") }}
      </h1>
      <h1 v-if="game.blackPick">
        {{ $vuetify.t("$vuetify.score.black_card") }}
      </h1>
    </div>
    <div id="results">
      <div class="scoreBox blueTeam">
        <h2>{{ $vuetify.t("$vuetify.score.team_blue") }}</h2>
        <p>{{ game.score.blue }}</p>
      </div>
      <div class="scoreBox redTeam">
        <h2>{{ $vuetify.t("$vuetify.score.team_red") }}</h2>
        <p>{{ game.score.red }}</p>
      </div>
    </div>
    <button class="toLobby" v-on:click="toLobby">
      {{ $vuetify.t("$vuetify.score.lobby_back") }}
    </button>
  </main>
</template>

<script>
export default {
  name: "Accueil",
  data() {
    return {
      game: {
        score: {
          red: 2,
          blue: 1
        }
      }
    };
  },
  sockets: {
    game(g) {
      if (g.data) this.game = g.data;
    }
  },
  mounted() {
    this.$parent.initSettings();
    this.$socket.emit("game", this.$route.params.id);
  },
  methods: {
    toLobby() {
      let user = JSON.parse(window.localStorage.getItem("user"));
      //user.lobby = user.score;
      delete user.score;
      window.localStorage.setItem("user", JSON.stringify(user));
      this.$router.push("/lobbies");
    }
  }
};
</script>

<style scoped lang="less">
@import "../assets/css/style.less";
main {
  padding-top: 30px;

  .victory {
    .red {
      background-color: @color3;
      padding: 0px 8px 1px 8px;
      border-radius: 3px;
      margin-right: 6px;
    }

    .blue {
      background-color: @color5;
      padding: 0px 8px 1px 8px;
      border-radius: 3px;
      margin-right: 6px;
    }
  }

  #results {
    background-color: @color2;
    width: 90%;
    border-radius: 2vw;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .scoreBox {
      border-radius: 5px;
      width: 20%;
    }
    .blueTeam {
      background-color: @color5;
      color: @color1;
    }

    .redTeam {
      background-color: @color3;
    }
  }
  .toLobby {
    width: 190px;
  }
}
</style>
