<template>
  <div id="app">
    <div id="languages">
      <span id="options_trigger" @click="options">
        <settings-icon class="boulon" /> Options
      </span>
      <span @click.prevent="setlang('fr');">🇫🇷</span>
      <span @click.prevent="setlang('de');">🇩🇪</span>
      <span @click.prevent="setlang('en');">🇬🇧</span>
      <span @click.prevent="setlang('pi');">🏴‍☠️ </span>
      <span id="message">{{ message }}</span>
    </div>

    <router-view />
    <modal name="OptionsMenu" id="modal-options" :height="500">
      <div id="title"><span>Options</span></div>
      <main>
        <form v-on:submit.prevent="setSettings">
          <p v-for="(m, key) in messages" :key="key">{{ m }}</p>
          <div v-if="page != 'Accueil' && page != 'Credits'">
            <label>{{ $vuetify.t("$vuetify.options.username") }} </label>
            <input
              class="input_text"
              type="text"
              v-model="username"
              v-bind:placeholder="current_usr"
            />
          </div>

          <div>
            <label>{{ $vuetify.t("$vuetify.options.sound") }}</label>
            <label class="switch">
              <input type="checkbox" id="sound" v-model="settings.sound" />
              <span class="slider"></span>
            </label>
          </div>

          <div>
            <label>{{ $vuetify.t("$vuetify.options.miscs") }}</label>
            <label class="switch">
              <input type="checkbox" id="miscs" v-model="settings.miscs" />
              <span class="slider"></span>
            </label>
          </div>

          <div>
            <label>{{ $vuetify.t("$vuetify.options.volume") }}</label>
            <div class="slidecontainer">
              <input
                v-model="settings.volume"
                type="range"
                min="0"
                max="1"
                value="0.5"
                step="0.01"
                class="r_slider"
                id="volume"
              />
            </div>
          </div>
        </form>
        <button class="save" @click="setSettings">
          {{ $vuetify.t("$vuetify.button.save") }}
        </button>
        <button class="quit" @click="hide('OptionsMenu');">
          {{ $vuetify.t("$vuetify.button.back") }}
        </button>
      </main>
    </modal>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      messages: [],
      message: "",
      page: "",
      current_usr: "",
      username: "",
      settings: {
        sound: false,
        language: "en",
        miscs: false,
        volume: 0.5
      }
    };
  },
  sockets: {
    playerChangeName(p) {
      const usr = JSON.parse(localStorage.getItem("user"));
      usr.name = p.data.name;
      this.current_usr = p.data.name;
      localStorage.setItem("user", JSON.stringify(usr));
    }
  },
  mounted() {
    this.page = this.$router.history.current.name;
    if (this.page != "Credits" && this.page != "Accueil") this.getCurrentUser();
  },
  methods: {
    options() {
      this.$modal.show("OptionsMenu");
      this.page = this.$router.history.current.name;
      if (this.page != "Credits" && this.page != "Accueil")
        this.getCurrentUser();
      this.initSettings();
    },
    hide(modal) {
      this.$modal.hide(modal);
    },
    setlang(lang) {
      let settings = window.localStorage.getItem("settings");

      if (!settings) settings = {};
      else settings = JSON.parse(settings);

      this.settings.language = lang;
      this.$vuetify.lang.current = lang;

      window.localStorage.setItem("settings", JSON.stringify(this.settings));

      if (lang == "pi" && settings.miscs) {
        const argh = new Audio(require("./assets/audio/captain.mp3"));
        argh.volume = settings.volume;
        argh.play();
      }
    },
    setusername() {
      const usr = JSON.parse(localStorage.getItem("user"));
      if (this.username !== "") {
        this.$socket.emit("playerChangeName", usr.uuid, this.username);
      }
    },
    setSettings() {
      this.page = this.$router.history.current.name;
      localStorage.setItem("settings", JSON.stringify(this.settings));
      this.hide("OptionsMenu");
      this.message = "successfully updated";
      if (this.page != "Credits" && this.page != "Accueil") {
        this.getCurrentUser();
        this.setusername();
      }
      setInterval(() => {
        this.message = "";
      }, 2000);
    },
    initSettings() {
      const sets = JSON.parse(localStorage.getItem("settings"));
      if (sets === null) {
        this.settings = {
          sound: true,
          language: "en",
          volume: 0.5,
          miscs: false
        };
      } else {
        this.setlang(sets.language);
        this.settings = {
          sound: sets.sound,
          language: sets.language,
          volume: sets.volume,
          miscs: sets.miscs
        };
      }
    },
    getCurrentUser() {
      const placeholder = JSON.parse(window.localStorage.getItem("user"));
      this.current_usr = placeholder.name;
    }
  }
};
</script>

<style lang="less">
@import "./assets/css/style.less";

body,
html {
  background-color: @color1;
  color: @color4;
  font-family: "coolvetica";
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
  height: 100vh;

  #modal-options {
    color: black;

    div {
      display: block;
      padding: 10px;
    }

    form {
      label {
        display: block;
      }
      div {
        margin: auto;
        width: 50%;
      }
    }

    .input_text {
      width: 100%;
      &:focus {
        width: 100%;
      }
    }

    #title {
      font-size: 40px;
      color: @color5;
    }

    .save {
      position: absolute;
      right: 10px;
      background-color: #4dccbd;
      bottom: 0px;
    }

    .quit {
      position: absolute;
      background-color: #9b1515;
      left: 10px;
      bottom: 0px;
    }

    .switch {
      position: relative;
      top: 10px;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: @color2;
      border-radius: 100px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      border-radius: 50%;
      background-color: @color4;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: @color5;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px @color5;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slidecontainer {
      width: 100%;
      margin: 0;
      padding: 3% 0 0 0;

      input {
        width: 40%;
      }
    }
  }

  #options_trigger {
    .boulon {
      width: 20px;
      height: 20px;
      font-size: 1.2em;
      margin-top: 3px;
      padding-left: 3px;
    }
  }

  #languages {
    z-index: 40;
    position: fixed;
    display: flex;
    flex-direction: row;

    span {
      display: flex;
      padding: 0 2vh 0 2vh;
      font-size: 1.6em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

button {
  font-family: "coolvetica";
  font-weight: normal;
  display: block;
  margin: 5% auto 5% auto;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  border: 2px solid @color4;
  background-color: @color1;
  color: @color4;
  font-size: 150%;
  &:hover {
    color: @color1;
    background-color: @color4;
    border-color: @color4;
  }
  @media (max-width: @width-breakpoint) {
    height: 50px;
    width: 100px;
    font-size: 1.2em;
  }
}
.icon {
  height: auto;
  width: auto;
  border: none;
  margin: 5px 0;
}
</style>
